/* 
1.Posisionamiento
2.Modelo De Caja
3.Tipographia
4.Visuales
5.Otros
*/
:root{
    /* colors */

    --warm-black:    #201E1C;
    --black:         #282623;
    --bitcoi-orange: #FF9536;
    --secondary-blue:#1A9AF7;
    --soft-orange:   #FFE9D5;
    --Soft-blue:     #E7F5FF;
    --grey:          #BABABA;
    --off-white:     #FAF8F7;
    --white:         #FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 300px;
    height: 334px;

    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--tittel-container{
    width: 90%;
    min-width: 240px ;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;   
}
.header--tittel-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    
    color: var(--white);
}
.header--tittel-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 5rem;
    line-height: 1.8rem;

    color: var(--soft-orange);
}
.header--tittel-container .header--button{
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
	left: calc(50% - 114.5px);

    background-color: var(--off-white);
    /* sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    text-decoration: none;

    color: var(--black);    
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
/* section 1 */
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/img/Bitcoin.svg);
}
.main-exchange-container--title {
    width: 90%;
    min-width: 238px;
    max-width: 900px;
    margin: 0 auto  ;
}
.main-exchange-container--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables-container{
    width: 100%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    padding: 0 10%;
}
.main-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0px 25%;
    font-family: 'Inter', sans-serif;
    scroll-snap-align: center;
    ;
}
.table--title{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    text-align: left;
    margin:0 auto;
    margin-bottom: 15px;
    padding-left: 30px;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
}
.table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}
.table--container table{
    width: 100%;
    height: 100%;
}
.table--container td{
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.9rem;

    padding-left: 15px;
    text-align: left;
    color: var(--grey);
    background-color: var(--white);

    
}
.table--container .table__top__left{
    border-radius: 15px 0px 0px 0px;
}
.table--container .table__top__right{
    border-radius: 0px 15px 0px 0px;
}
.table--container .table__bottom__right{
    border-radius: 0px 0px 15px 0px;
}
.table--container .table__bottom__left{
    border-radius: 0px 0px 0px 15px;
}
.table--container .table__right{
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem ;
 
    color: #757575;
}
.table--container span{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 10px;
}
.table--container .down{
    background-image: url(./assets/icons/trending-down.svg);
}
.table--container .up{
    background-image: url(./assets/icons/trending-up.svg);
}
.table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;

    border-radius: 8px;

}
.table--date p{

    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

    /* pequeños cambios */
.currecy .table--title {
    color: var(--bitcoi-orange);
}
.currecy .table--date{
    background-color: var(--soft-orange);
}
.commissions .table--title {
    color: var(--secondary-blue);
}
.commissions .table--date {
    background-color: var(--Soft-blue);
}

/* seccion 2 */
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 300px;
    height: auto;
    padding: 10px 20px;
    background-color: var(--warm-black);
}
.product-detail--logo{
    position: absolute;
    width:40px;
    height: 25px;
    top: calc(0% - 12.5px);
    left: calc(50% - 25px);
}
.product-detail--title h2{
    margin-top: 64px;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;

    color: var(--white);
}
.product-detail--title p{
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
}
.product-detail--card {
    width: 100%;
    min-width: 270px;
    max-width: 400px;
    min-height: 152px;
    margin: 16px auto;
    background: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding-bottom: 16px;
  }
.product-card--icon{
    display: inline-block;
    margin: 16px;
}

.product-card--title{
    
    margin: 16px;
    margin-top: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    color: var(--white);
}

.product-card--body{
    margin: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #808080;
}
/* seccion 3 */
.bitcoin-img-container{
    width: 100%;
    min-width: 300px;

    height: 60vh;
    min-height: 300px;
    max-height: 500px;
    background-image: url(./assets/img/bitcoinbaby.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bitcoin-img-container h2{
    padding-top: 64px;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--white);
}
/* seccion 4 */
.main-plans-container{
    text-align: center;
    padding: 64px 0;
}

.main-plans-container .plans--title{
    width: 100%;
    min-width: 280px;
    height: auto;
    margin: 0px auto;
    padding: 0 16px;

}
.main-plans-container .plans--title h2{

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.main-plans-container .plans--title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 24px;

    color: #757575;
}
.plans-container--slider, .main-tables-container{
    display: flex;
    gap: 8px;

    overflow-x: scroll ;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}
.plans-container--slider{
    justify-content: center;
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    margin: 50px 0px;
    width: 80%;
    min-width: 190px;
    max-width: 300px;
    padding: 16px;
    min-height: 247px;
    
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}
.plans-container--card>p{
    position: absolute;
    top: calc(0% - 13px);
    left: calc(50% - 50px);
    padding: 8px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;

    background: var(--bitcoi-orange);
    color: var(--white);
    border-radius: 8px;
}
 .card--info h3{
    margin: 16px auto 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
 .card--info .price{
    position: relative;
    display: inline-block;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.3rem;
    letter-spacing: -0.08em;

    
}
.card--info .price span{
    position: absolute;
    left: -10px;
    top: 10px;

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;

    color:#363636;
}
.card--info .annual-savings {

    margin: 16px 0;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;

    color: #757575;
}
.card--info button{
    width: 151px;
    height: 48px;

    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black);
    background: var(--off-white);
    border: var(--bitcoi-orange) solid 2px;
    border-radius: 4px;
}
.card--info button span{
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 20px;
 
    background-image: url(./assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    
    background: var(--bitcoi-orange);
}
footer section{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .left li,a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    list-style: none;
    color: var(--white);
    margin-top: 8px;
}